<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connstrng" connectionString="Data Source=desktop-akq203u\sqlexpress;Initial Catalog=BharatPlantDesktop;Integrated Security=True" />
  <add name="bharatplantdesktop.Properties.Settings.AnyStoreConnectionString"
   connectionString="Data Source=DESKTOP-AKQ203U\SQLEXPRESS;Initial Catalog=AnyStore;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="bharatplantdesktop.Properties.Settings.BharatPlantDesktopConnectionString"
   connectionString="Data Source=desktop-akq203u\sqlexpress;Initial Catalog=BharatPlantDesktop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>